<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Current Weather Conditions</title>
</head>
<body>
	<h1>Here's the current weather report for {{ zipcode }} :</h1>
	<p>Temperature (F): {{ temp }} degrees.</p>
	<p>Humidity: {{ humidity }}%</p>
	<p>Wind: {{ wind }} meters/sec</p>
    {% for forecast in forecast_weather %}
        <h1>Here's the forecast for {{ forecast['dt'] }} at {{ zipcode }} :</h1>
        <p>Temperature: {{ forecast['temperature'] }}</p>
        <p>Condition: {{ forecast['description'] }}</p>
        <p>Icon: {{ forecast['icon'] }}</p>
    {% endfor %}
</body>
</html>